{% extends 'layouts/base.html' %}
{% load i18n %}

{% block title %}{% trans "Sign up" %} - SpoonApp Social{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="mb-4 text-center">{% trans "Sign up" %}</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100">{% trans "Create account" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
