{% load i18n %}
{% for u in users %}
<div class="friend-bubble{% if forloop.counter > 3 %} extra-user d-none{% endif %}">
  <a href="{% url 'profile' u.username %}" class="d-flex align-items-center text-decoration-none flex-grow-1">
    {% if u.profile.profile_picture %}
    <img src="{{ u.profile.profile_picture_data_url }}" alt="{{ u.username }}" style="border-color: {{ u.profile.bubble_color }};">
    {% else %}
    <img src="{{ default_avatar_data_url }}" alt="{{ u.username }}" style="border-color: {{ u.profile.bubble_color }};">
    {% endif %}
    <div class="friend-info">
      <div class="friend-name">{{ u.username }}</div>
      {% if u.profile.online %}
      <div class="friend-status text-success">{% trans "Online" %}</div>
      {% elif u.profile.last_seen %}
      <div class="friend-status text-muted">{% blocktrans %}Last seen: {{ u.profile.last_seen|naturaltime }}{% endblocktrans %}</div>
      {% endif %}
    </div>
  </a>
  <a href="{% url 'start_chat' u.id %}" class="message-icon">💬</a>
</div>
{% endfor %}
{% if users|length > 3 %}
<a href="{% url 'user_search_page' %}" class="show-more-users mt-2">{% trans 'Show more' %}</a>
<button type="button" class="show-less-users mt-2 d-none">{% trans 'Show less' %}</button>
{% endif %}
