{% if user.is_authenticated %}
<span class="like-btn-container" id="like-btn-{{ post.id }}">
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-sm bg-transparent border-0 spoon-like like-post"
        hx-post="{% url 'like_post' post.id %}" hx-vals="{}" hx-trigger="click" hx-swap="none"
        hx-on="htmx:afterRequest: updateLikeCount({{ post.id }})">
        🥄 <span class="like-count" id="like-count-{{ post.id }}">{{ post.postlike_set.count }}</span>
    </button>
    {% else %}
    🥄 <span class="like-count">{{ post.postlike_set.count }}</span>
    {% endif %}
</span>

<script>
    function updateLikeCount(postId) {
        return function (evt) {
            const json = evt.detail.xhr.response;
            const countSpan = document.getElementById(`like-count-${postId}`);
            if (countSpan && json.likes !== undefined) {
                countSpan.textContent = json.likes;
            }
        }
    }
</script>
{% endif %}